.u-section-1 .u-sheet-1 {
  min-height: 553px;
}

.u-section-1 .u-list-1 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  --gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-1 {
  width: 372px;
  height: 220px;
  margin: 0 -12px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  width: 372px;
  height: 220px;
  margin: 0 -12px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  width: 372px;
  height: 220px;
  margin: 0 -12px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 368px;
  height: 245px;
  margin: 8px auto 0 12px;
}

.u-section-1 .u-image-5 {
  width: 368px;
  height: 246px;
  margin: -246px 380px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 370px;
  height: 247px;
  margin: -247px 0 40px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-1 .u-image-5 {
    height: 245px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -246px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-1 .u-image-5 {
    margin-right: 352px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-5 {
    margin-right: 172px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 189px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 189px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 189px;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 227px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 226px;
    margin-top: -245px;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 227px;
    margin-top: 151px;
    margin-bottom: -133px;
  }
}